div(class="header")
    ul
        li
            a(href="/") Home
        li
            a(href="/order") View Cart
        li
            a(href="/users/" + id) Profile
        li 
            a(href="/logout") Logout