style
    include ..\..\styles\headerStyles.css
div(class="header")
    ul
        li
            a(href="/") Home
        li
            a(href="/order") View Books
        li
            a(href="/users/" + username) Profile
        li 
            a(href="/books/add") Add Books
        li 
            a(href="/books/remove") Remove Books
        li 
            a(href="/logout") View Reports
        li 
            a(href="/logout") Logout
        