html
    head
        script(type='text/javascript', src="https://kit.fontawesome.com/b004a8c5d5.js", crossorigin="anonymous")
        title Look Inna Book
        style
            include ../../styles/mainStyles.css
            include ../../styles/formStyles.css
    body(class="background")
        include ../partials/layout
        div(class="inputs")
            input(type='textbox', placeholder='ISBN', id='ISBN', class='editInput')
            br
            input(type='textbox', placeholder='Book Title', id='title', class='editInput')
            br
            input(type='textbox', placeholder='Author', id='author', class='editInput')
            br
            input(type='textbox', placeholder='Publisher', id='publisher', class='editInput')
            br
            input(type='textbox', placeholder='Year published', id='year', class='editInput')
            br
            input(type='textbox', placeholder='Genre', id='genre', class='editInput')
            br
            input(type='textbox', placeholder='Number of pages', id='pageNum', class='editInput')
            br
            input(type='textbox', placeholder='Price in $', id='price', class='editInput')
            br                
            br
            button(class='confirmButton', id='addBook') Add Book to collection

        script
            include ../../scripts/addBook.js