html
	head
		title Add book to database 
		style
			include ../../styles/styles.css
	body(class="background")
		include ../partials/layout
        div(class="form")
            h2 ISBN number
            input(type='textbox', id='ISBN', class='editInput')
            br

            h2 Title
            input(type='textbox', id='title', class='editInput')
            br

            h2 Author
            input(type='textbox', id='author', class='editInput')
            br

            h2 Year it was published
            input(type='textbox', id='publishingYear', class='editInput')
            br

            h2 Publisher
            input(type='textbox', id='publisher', class='editInput')
            br

            h2 Genre
            input(type='textbox', id='genre', class='editInput')
            br

            h2 Number of pages 
            input(type='textbox', id='pageNum', class='editInput')
            br

            h2 Book price
            input(type='textbox', id='price', class='editInput')
            br

            button(id='register') Register