html
    head
        title Look Inna Book
        style
            include ../../styles/mainStyles.css
    body(class="background")
        include ../partials/layout
        div(class="description")
            h2 Books available
            select#book-select
                ul
                    each val,index in Titles
                        option(value=ISBNs[index],id=ISBNs[index])= 'Title:'+val + ',ISBN:'+ISBNs[index]+ ',Price:$'+Prices[index]+',Available for purchase:'+Inventories[index]
            
            div(class="inputs")
                input(type='textbox', placeholder='Quantity', id='quantity', class='editInput')
            br
            
            button(class='confirmButton', id='addCart') Add to Cart
                 i(class='buttonIcon fa fa-chevron-right')

            div#cart(class="left")
                b Current cart

            div#info(class="right")
                b Select your billing/shipping information
                br
                select#info-select
                    ul
                        each val,index in Names
                            option(value=CardNums[index])= 'Name: '+val+ ', Card Number:'+CardNums[index]+ ', Address:'+Addresses[index]
            
        script
            include ../../scripts/order.js
