html
	head
		title Look Inna Book
		style
			include ../../styles/mainStyles.css
	body(class="background")
		include ../partials/layout
		div(class="description")
			h1 Look Inna Book Bookstore
			p
				| Wagwan
				| this a bookstore
				| come look at books