html
    head
        script(type='text/javascript', src="https://kit.fontawesome.com/b004a8c5d5.js", crossorigin="anonymous")
        title Look Inna Book
        style
            include ../../styles/mainStyles.css
            include ../../styles/formStyles.css
    body(class="background")
        include ../partials/layout
        div(class="inputs")
            div(class='loginField')
                i(class='loginIcon fa fa-user')
                input(type='textbox', placeholder='username', id='username', class='editInput')
            br

            div(class='loginField')
                i(class='loginIcon fa fa-lock')
                input(type='textbox', placeholder='password', id='password', class='editInput')
            br

            button(class='confirmButton', id='login') Login
                i(class='buttonIcon fa fa-chevron-right')

        script
            include ../../scripts/login.js