html 
    head 
        title #{username}'s Page
    style
        include ../../styles/mainStyles.css
    body(class="background")
        include ../partials/layout
        div(class="description")
            h1='Welcome '+ username+'!'
            br
            if(owner)
                p    Owner account type
            else
                p    User account type
            br
            div(class="header")
                ul
                    li
                        a(href="/users/"+username+"/pending") Pending Orders
                    li
                        a(href="/users/"+username+"/history") Order History
                    li
                        a(href="/users/"+username+"/info") Billing/Shipping information
