.inputs{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
    color: #f7e588;
}

.loginField {
	padding: 20px 0px;	
	position: relative;	
}

.editInput{
    color: #facfbb;
    background: none;
    border: none;
    border-bottom: 2px solid #D1D1D4;
    height: 35px;   
    width: 300px;
    padding-left: 8px;
    transition: .4s;
    font-size: 15;
}

.inputs input:active,
.inputs input:focus,
.inputs input:hover {
	outline: none;
	border-bottom-color: #f7e588;
}

.loginIcon {
	top: 30px;
	color: #f7e588;
}

.buttonIcon {
    margin-left: 40;
	color: #f7e588;
}

.confirmButton{
    width: 120;
    height: 35;
    font-size: 15;
    font-weight: 500;
    background: none;
    border-radius: 10px;
    color: #facfbb;
    border: 1px solid #D1D1D4;
    transition: .4s;
    margin-top: auto;
}

.confirmButton:active,
.confirmButton:focus,
.confirmButton:hover {
	outline: none;
    border: 2px solid #f7e588;
}

.buttons{
    display: flex;
    justify-content: center;
}

.radioButtons{
    text-align: left;
    margin-right: auto;
    color: #facfbb;
}

/* https://www.sliderrevolution.com/resources/styling-radio-buttons/ */
.radio input{
    display: none;
}

.radio input + span {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    margin-right: 5px;
  }

.radio input + span:before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 0px;
    border-radius: 50%;
    margin-right: 5px;
    width: 12px;
    height: 12px;
    border: 2px solid #ccc;
    background: none;
    transition: .4s;
}

.radio input:hover + span:hover:before {
    border: 2px solid #f7e588;
}

.radio input:checked + span:before{
    border: 2px solid #f7e588;
}

.radio input + span:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: #f7e588;
    position: absolute;
    border-radius: 50%;
    top: 6px;
    left: 4px;
    opacity: 0;
    transform: scale(0, 0);
    transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  }
.radio input:checked + span:after {
    opacity: 1;
    transform: scale(1, 1);
}

label{
    padding-right: 5;
}
